{% extends 'gamehub/layout.html' %}
{% load static %}
{% load filters %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gamehub/css/detail_page.css' %}">
{% endblock %}

{% block title %}
    <title>Detail page</title>
{% endblock %}

{% block content %}
    <div class="wrap">

    <section class="description-block">

        <div class="joiner">
        <h1 class="description-block__title">{{ game.name }}</h1>
        <button class="button description-block__must-button">Must</button>
        </div>

        <h2 class="header-level2">Description</h2>
        <p class="description-block__description">{{ game.summary }}</p>

        <h2 class="header-level2">Release Date</h2>
        <p class="description-block__release-date">{{ game.first_release_date }}</p>

        <h2 class="header-level2">Screenshots</h2>
        <div class="screenshots">
            <ul class="screenshots__list">
                {% for screenshot in screenshots %}
                <li><img src="{{ screenshot.url }}" alt=""></li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="general-information">
        <h2 class="header-level2">Ratings</h2>
        <div class="user-ratings ratings">
            <p>Users</p>
            <p>{{ game.rating }} ({{ game.rating_count|reviews }})</p>
        </div>

        <div class="critics-ratings ratings">
            <p>Critics</p>
            <p>{{ game.aggregated_rating }} ({{ game.aggregated_rating_count|reviews }})</p>
        </div>

        <h2 class="header-level2">Genres</h2>
        <ul class="genres">
            {% for genre in game.genres %}
            <li class="genres__genre">{{ genre.name }}</li>
            {% endfor %}
        </ul>
        <h2 class="header-level2">Platforms</h2>
        <ul class="platforms">
            {% for platform in game.platforms %}
            <li class="platforms__platform">{{ platform.abbreviation }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="tweets">
        <div class="tweet">
            <p class="tweet__text">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ad deserunt explicabo fugiat inventore iste suscipit? Accusamus
                adipisci, animi commodi error eum exer</p>
            <div class="tweet__description">
                <span class="tweet__date">27.09.2021</span>
                <span class="tweet__author">Auramenko Ilya</span>
            </div>
        </div>
        <div class="tweet">
            <p class="tweet__text">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ad deserunt explicabo fugiat inventore iste suscipit? Accusamus
                adipisci, animi commodi error eum exer</p>
            <div class="tweet__description">
                <span class="tweet__date">27.09.2021</span>
                <span class="tweet__author">Auramenko Ilya</span>
            </div>
        </div>
        <div class="tweet">
            <p class="tweet__text">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ad deserunt explicabo fugiat inventore iste suscipit? Accusamus
                adipisci, animi commodi error eum exer</p>
            <div class="tweet__description">
                <span class="tweet__date">27.09.2021</span>
                <span class="tweet__author">Auramenko Ilya</span>
            </div>
        </div>
        <div class="tweet">
            <p class="tweet__text">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ad deserunt explicabo fugiat inventore iste suscipit? Accusamus
                adipisci, animi commodi error eum exer</p>
            <div class="tweet__description">
                <span class="tweet__date">27.09.2021</span>
                <span class="tweet__author">Auramenko Ilya</span>
            </div>
        </div>
        <div class="tweet">
            <p class="tweet__text">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ad deserunt explicabo fugiat inventore iste suscipit? Accusamus
                adipisci, animi commodi error eum exer</p>
            <div class="tweet__description">
                <span class="tweet__date">27.09.2021</span>
                <span class="tweet__author">Auramenko Ilya</span>
            </div>
        </div>
    </section>

    </div>
{% endblock %}