{% extends 'gamehub/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gamehub/css/detail_page.css' %}">
{% endblock %}

{% block title %}
    <title>{{ game.name }}</title>
{% endblock %}

{% block content %}
    <div class="wrap">

    <section class="description-block">

        <div class="joiner">
        <h1 class="description-block__title">{{ game.name }}</h1>
        <button class="button description-block__must-button">Must</button>
        </div>

        <h2 class="header-level2">Description</h2>
        <p class="description-block__description">{{ game.summary }}</p>

        <h2 class="header-level2">Release Date</h2>
        <p class="description-block__release-date">{{ game.first_release_date }}</p>

        <h2 class="header-level2">Screenshots</h2>
        <div class="screenshots">
            <ul class="screenshots__list">
                {% for screenshot in screenshots %}
                <li><img src="{{ screenshot.url }}" alt=""></li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="general-information">
        <h2 class="header-level2">Ratings</h2>
        <div class="user-ratings ratings">
            <p>Users</p>
            <p>{{ game.rating }} (
                {% if game.rating_count %}
                    {{ game.rating_count }} review{{game.rating_count|pluralize}}
                {% else %}
                    No reviews
                {% endif %})</p>
        </div>

        <div class="critics-ratings ratings">
            <p>Critics</p>
            <p>{{ game.rating }} (
                {% if game.aggregated_rating %}
                    {{ game.aggregated_rating_count }} review{{game.aggregated_rating_count|pluralize}}
                {% else %}
                    No reviews
                {% endif %})</p>
        </div>

        <h2 class="header-level2">Genres</h2>
        <ul class="genres">
            {% for genre in game.genres %}
            <li class="genres__genre">{{ genre.name }}</li>
            {% endfor %}
        </ul>
        <h2 class="header-level2">Platforms</h2>
        <ul class="platforms">
            {% for platform in game.platforms %}
            <li class="platforms__platform">{{ platform.abbreviation }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="tweets">
        <h2 class="header-level2">{{ game.name }} tweets</h2>
        {% if tweets  %}
         {% for tweet in tweets %}
        <div class="tweet">
            <p class="tweet__text">{{ tweet.text }}</p>
            <div class="tweet__description">
                <span class="tweet__date">{{ tweet.created_at }}</span>
                <span class="tweet__author">{{ tweet.author_username }}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>No tweets found in the last 7 days</p>
        {% endif %}

    </section>

    </div>
{% endblock %}