{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'gamehub/css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'gamehub/css/layout.css'%}">

    {% block style %}
    {% endblock %}

    {% block title %}
    {% endblock %}
</head>
<body>

<header class="header">
    <div class="wrap header__wrapper">
        <a href="{% url 'games' %}" class="header__logo"><span>GameHub</span></a>
        <div class="user-activities">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'registration' %}" class="button user-activities__activity">Sign up</a>
            <a href="{% url 'authorization' %}" class="button user-activities__activity">Sign in</a>
            {% else %}
                <span class="user-activities__greeting">
                    Hello, <a href="{% url 'profile_page' %}" class="user-activities__profile">{{ request.user.username }}!</a>
                </span>
                <button class="must-button user-activities__activity">My MUSTs</button>
                <a href="{% url 'logout' %}" class="user-activities__activity">Logout</a>
            {% endif %}
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>