{% extends 'gamehub/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1 class="header-level1">Login</h1>
        <form action="" method="POST" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="form__button">Login</button>
        </form>
    </div>
{% endblock %}