{% extends 'gamehub/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/user_page.css' %}">
{% endblock %}

{% block title %}
    <title>{{ user.username }}</title>
{% endblock %}

{% block content %}
<div class="wrap">
    <h1>My profile</h1>
    <ul class="user-data">
        <li><span>Username</span><span>{{ user.username }}</span></li>
        <li><span>Email</span><span>{{ user.email }}</span></li>
        <li><span>First name</span><span>{{ user.first_name }}</span></li>
        <li><span>Last name</span><span>{{ user.last_name }}</span></li>
        <li><span>Age</span><span>{{ user.age }}</span></li>
    </ul>
</div>
{% endblock %}