.registration-form {
    margin: 30px auto;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    padding: 30px;
    font-size: 20px;
    max-width: 400px;
}

/*.wrap {*/
/*    align-items: center;*/
/*}*/

.registration-form > input,
.registration-form > label {
    margin: 5px 0;
}

.registration-form__button {
    background-color: #999;
    padding: 5px;
    border-radius: 0;
}