{% extends 'gamehub/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
{% endblock %}

{% block title %}
    <title>Registration</title>
{% endblock %}

{% block content %}
    <div class="wrap">
        <form action="" method="POST" class="registration-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="registration-form__button">Register</button>
        </form>
    </div>
{% endblock %}