* {
    font-family: Arial, serif;
}
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.button {
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.wrap{
	max-width: 1170px;
	margin:0 auto;
}

/*header styles start*/
.header {
    width: 100%;
    background-color: #FFF;
    height: 50px;
}
.header__wrapper {
    display: flex;
    background-color: #CCC;
    align-items: center;
    height: 100%;
    box-shadow: 0 3px 2px 0 #000;
    z-index: 100;
    position: relative;
    justify-content: space-between;
}

.header__logo {
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}

.user-activities {
    display: flex;
    align-items: center;
}
.user-activities__greeting {
    font-size: 20px;
}
.user-activities__profile {
    text-decoration: underline;
}
.user-activities__activity {
    font-size: 20px;
    margin: 0 10px;
    border-radius: 0;
    background-color: #EEE;
    padding: 5px;
}

.must-button {
    background-color: hotpink;
}
/*header styles end*/

.game-unmust-button.button {
    background-color: red;
    transition: 0.5s;
}

.game-unmust-button.button:hover {
    color: red;
    background-color: black;
}

.game-must-button.button
{
    background-color: hotpink;
    transition: 0.5s;
}

.game-must-button.button:hover {
    color: hotpink;
    background-color: black;
}
