.header-level1 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
    max-width: 110px;
}

.form {
    margin: 30px auto;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    padding: 30px;
    font-size: 20px;
    max-width: 400px;
}

.form > input,
.form > label {
    margin: 5px 0;
}

.form__button {
    background-color: #999;
    padding: 5px;
    border-radius: 0;
}